/**
 * Buttons and button style links.
 */

.button {
	.button-layout();
	.button-theme();
}

.button.has-icon {
	vertical-align: text-bottom;
	svg {
		pointer-events: none;
		&:not([fill]) {
			fill: currentColor;
		}
		+ span {
			margin-inline-start: @wp-spacing-20;
		}
	}
}

/**
 * Color Themes
 */

.button.is-secondary {
	--color-button: var(--color-text);
	--color-button-interactive: var(--color-accent);
}

.button.is-primary {
	--color-button: var(--color-accent);
	--color-button-interactive: var(--color-accent-emphasized);
}

/**
 * Styles Utilizing Themes
 */

// filled is default,
// reiterated in case we need to override another style
.button.is-filled {
	.button-theme();
}

.button.is-transparent, 
.button.is-outlined {
	background-color: inherit;
	color: var(--color-button);
	&:visited {
		color: var(--color-button);
	}
	&:hover,
	&:active,
	&:focus {
		color: var(--color-button-interactive);
		border-color: var(--color-button-interactive);
	}
}

.button.is-transparent {
	border-color: transparent;
}

.button.is-outlined {
	border-color: currentColor;
}
