/**
 * Buttons, or button style links.
 */

.button-layout() {
	border-style: solid;
	border-radius: 0.125em;
	border-width: 0.125em;
	display: inline-block;
	line-height: 1;
	padding: @space-2;
}

.button-default-theme() {
	background-color: var( --color-button );
	border-color: transparent;
	color: var( --color-button-text );
	text-decoration: none;
}

.button-outline-theme() {
	background-color: var( --color-background );
	border-color: var( --color-button );
	color: var( --color-button );
}

.button-default-states() {
	&[disabled] {
		background-color: var( --color-button-disabled );
		cursor: default;
	}
	&:not([disabled]) {
		&:hover,
		&:focus,
		&:active {
			background-color: var( --color-button-interaction );
		}
	}
}

.button-outline-states() {
	&[disabled] {
		color: var( --color-button-disabled );
		border-color: var( --color-button-disabled );
		background-color: var( --color-background );
	}
	&:not([disabled]) {
		&:hover,
		&:focus,
		&:active {
			background-color: inherit;
			border-color: var( --color-button-interaction );
			color: var( --color-button-interaction );
		}
	}
}

.button {
	.button-layout;
	.button-default-theme();
	.button-default-states();
}

.button--outline {
	.button-outline-theme();
	.button-outline-states();
}
