/**
 * Stack
 *
 * @link https://every-layout.dev/layouts/stack/
 */

.stack {
	> * + * {
		margin-block-start: @wp-block-gap;
	}
}

.stack--tight {
	> * + * {
		margin-block-start: calc( @wp-block-gap / 2 );
	}
}

.stack--loose {
	> * + * {
		margin-block-start: calc( @wp-block-gap * 2 );
	}
}
