/**
 * Stack
 *
 * @link https://every-layout.dev/layouts/stack/
 */

.stack {
	> * + * {
		margin-block-start: 1.5em;
	}
}

.stack--tight {
	> * + * {
		margin-block-start: 0.75em;
	}
}

.stack--loose {
	> * + * {
		margin-block-start: 3em;
	}
}
