/**
 * Stack
 *
 * @link https://every-layout.dev/layouts/stack/
 */

.stack {
	> * + * {
		margin-block-start: @wp-spacing-50;
	}
}

.stack--tight {
	> * + * {
		margin-block-start: @wp-spacing-30;
	}
}

.stack--loose {
	> * + * {
		margin-block-start: @wp-spacing-70;
	}
}
