.button-layout() {
	appearance: none;
	border: 0.125em solid;
	border-radius: var(--wp--custom--border-radius, 0.1875em);
	padding: @wp-spacing-20 @wp-spacing-30;
	font-weight: normal;
	&.is-disabled,
	&.disabled,
	&:disabled {
		cursor: unset;
		pointer-events: none;
		opacity: 0.625;
	}
	&:active {
		transform: translateY(0.125em);
	}
}

.button-theme() {
	background-color: var(--color-button);
	border-color: transparent;
	color: var(--color-background);
	&:visited {
		color: var(--color-background);
	}
	&:hover, &:active, &:focus {
		background-color: var(--color-button-interactive);
		color: var(--color-background-contrast-high);
		border-color: transparent;
	}
}

.button-theme-outlined() {
	background-color: inherit;
	color: var(--color-button);
	&:visited {
		color: var(--color-button);
	}
	&:hover,
	&:active,
	&:focus {
		color: var(--color-button-interactive);
	}
}