/**
 * Logical Properties
 */

/**
 * Border
 */
.border-block( @value ) {
	border-block-start: @value;
	border-block-end: @value;
}

.border-inline( @value ) {
	border-inline-start: @value;
	border-inline-end: @value;
}

/**
 * Margin
 */
.margin-block( @value ) {
	margin-block-start: @value;
	margin-block-end: @value;
}

.margin-inline( @value ) {
	margin-inline-start: @value;
	margin-inline-end: @value;
}

/**
 * Padding
 */
.padding-block( @value ) {
	padding-block-start: @value;
	padding-block-end: @value;
}

.padding-inline( @value ) {
	padding-inline-start: @value;
	padding-inline-end: @value;
}

/**
 * Inset / Positioning
 */
.inset-inline-start( @value ) {
	left: @value;
	@supports( inset-inline-start: @value ) {
		left: initial;
		inset-inline-start: @value
	}
}

.inset-inline-end( @value ) {
	right: @value;
	@supports( inset-inline-end: @value ) {
		right: initial;
		inset-inline-end: @value
	}
}

.inset-block-start( @value ) {
	top: @value;
	@supports( inset-block-start: @value ) {
		top: initial;
		inset-block-start: @value
	}
}

.inset-block-end( @value ) {
	bottom: @value;
	@supports( inset-block-end: @value ) {
		bottom: initial;
		inset-block-end: @value;
	}
}

.float-start() {
	float: left;
	@supports( float: inline-start ) {
		float: inline-start;
	}
}

.float-end() {
	float: right;
	@supports( float: inline-end ) {
		float: inline-end;
	}
}
