/**
 * .wp-block-pullquote
 * @see wp-block-quote for the <blockquote> styles. this just wraps / positions it.
 */
.wp-block-pullquote {

	.padding-block( @wp-spacing-50 );
	.padding-inline( calc( @wp-root-padding / 2 ) );
	font-size: @fs-h4;

	// WP assumes you'll separate this with lines on the block edges.
	&.is-style-default {
		.border-block( 0.125em double currentColor );
	}

	// WP assumes you'll distinguish this with whitespace
	// ( even if that space actually has a solid background color ).
	// &.is-style-solid-color {}

	// &.alignfull {}
	// &.alignwide {}

	&.alignleft {
		margin-inline-start: calc( -1 * @wp-root-padding );
	}
	
	&.alignright {
		margin-inline-end: calc(-1 * @wp-root-padding );
	}

}