/**
 * wp-block-gallery
 */

// figure
.wp-block-gallery {

	// ul
	.blocks-gallery-grid {

		padding-inline-start: 0;
		list-style: none;

		display: grid;
		gap: @space-2;
		grid-template-columns: 100%;
	}

	// li
	.blocks-gallery-item {
		max-inline-size: 32rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		figure {
			img {}
			figcaption {}
		}
	}

	// figcaption
	.blocks-gallery-caption {}

	&.columns-2 {
		@media( min-width: 32em ) {
			.blocks-gallery-grid {
				grid-template-columns: repeat( 2, calc( 50% - @space-1 ) );
			}
		}
	}
	&.columns-3 {
		@media( min-width: 32em ) {
			.blocks-gallery-grid {
				grid-template-columns: repeat( 3, calc( 33.3333% - ( @space-2 * ( 2 / 3 ) ) ) );
			}
		}
	}

	&.alignwide,
	&.alignfull {
		&.columns-2 {
			@media( min-width: 48em ) {
				.blocks-gallery-grid {
					grid-template-columns: repeat( 2, calc( 50% - @space-1 ) );
				}
			}
		}
		&.columns-3 {
			@media( min-width: 48em ) {
				.blocks-gallery-grid {
					grid-template-columns: repeat( 3, calc( 33.3333% - ( @space-2 * ( 2 / 3 ) ) ) );
				}
			}
		}
	}

	// &.is-cropped

}
