/**
 * Gallery
 */

// figure
.wp-block-gallery {

	--columns: 1;
	--gap: @wp-spacing-30;
	--max-container-size: @size-content;

	display: flex;
	column-gap: var(--gap);
	flex-wrap: wrap;

	// figure
	.wp-block-image {
		flex-basis: calc(
			( ( var(--max-container-size) - ( (var(--columns) - 1) * var(--gap) ) ) / var(--columns) ) * ( (var(--columns) - 0.49) / var(--columns) )
		);
		flex-grow: 1;
		padding-block-end: @wp-spacing-50;
		position: relative;
	}

	&.alignwide {
		--max-container-size: @size-wide;
	}

	&.alignfull {
		--max-container-size: calc( @size-wide + ( @wp-root-padding * 2 ) );
	}

	&.columns-2 {
		--columns: 2;
	}
	&.columns-3,
	&.columns-default {
		--columns: 3;
	}
	&.columns-4 {
		--columns: 4;
		--gap: @wp-spacing-20;
	}
	&.columns-5 {
		--columns: 5;
		--gap: @wp-spacing-20;
	}
	&.columns-6 {
		--columns: 6;
		--gap: @wp-spacing-20;
	}
	&.columns-7 {
		--columns: 7;
		--gap: @wp-spacing-20;
	}

	figcaption {
		block-size: @wp-spacing-50;
		white-space: nowrap;
		text-overflow: ellipsis;
		inline-size: 100%;
		overflow: hidden;
		position: absolute;
		.inset-inline-start(0);
		.inset-block-end(0);
		margin-block-start: 0;
	}

	&.is-cropped {
		figure {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			a {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
			}
			img {
				flex-grow: 1;
				object-fit: cover;
				inline-size: 100%;
			}
		}
	}
}
