/**
 * Media Text
 *
 * The decision to use grid here was made by WordPress.
 * If you adjust the "media width" in the editor, an inline style is applied to change grid-template-columns.
 * @link https://github.com/WordPress/WordPress/blob/5.8/wp-includes/css/dist/block-library/style.css#L1267
 */

.wp-block-media-text {
	display: grid;
	gap: @space-2;
	grid-template-columns: 50% 1fr;
	grid-template-rows: auto;
}

.wp-block-media-text__content {
	align-self: center;
	overflow-wrap: break-word;
}
.wp-block-media-text__media {
	align-self: center;
}

.wp-block-media-text {

	&.has-media-on-the-right {
		> :first-child {
			grid-column: 2;
  			grid-row: 1;
		}
		> :last-child {
			grid-column: 1;
  			grid-row: 1;
		}
	}

	&.is-vertically-aligned-top > div {
		align-self: start;
	}
	&.is-vertically-aligned-center > div {
		align-self: center;
	}
	&.is-vertically-aligned-bottom > div {
		align-self: end;
	}

	// consider removing support for this.
	&.is-image-fill {
		.wp-block-media-text__media {

			block-size: 100%;
			min-block-size: 250px;
			background-size: cover;

			> a {
				display: block;
				block-size: 100%;
			}

			img {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				border: 0;
			}

		}
	}

	// do this in child theme?
	&.is-stacked-on-mobile {}

}
