/**
 * wp-block-column
 */
.wp-block-column {

	.stack--tight();
	flex-grow: 1;

	// helps when only one column has a user defined flex-basis.
	flex-basis: 50%;

	// helps when content-types are mixed and flex-basis is not set,
	// for example two-column paragraph and image.
	inline-size: 100%;

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}
	&.is-vertically-aligned-center {
		align-self: center;
	}
	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}
