/**
 * Entry Layout
 */

.entry {
	.stack--loose;
}

.entry__content {

	.clearfix--after;
	.stack;

	> * {
		inline-size: 32rem;
		margin-inline-start: @space-vw-2;
		margin-inline-end: @space-vw-2;
		max-inline-size: ( 100vw - ( @space-vw-2 * 2 ) );
	}

	> .alignwide {
		inline-size: 64rem;
	}

	> .alignfull {
		inline-size: calc( 64rem + ( @space-vw-2 * 2 ) );
		margin-inline-start: 0;
		margin-inline-end: 0;
		max-inline-size: 100%;
	}

}

.theme-prefers-align-center .entry__content > * {
	margin-inline-start: auto;
	margin-inline-end: auto;
}
