/**
 * Cata Newsletter Block
 */

.wp-block-cata-newsletter,
.wp-block-cata-newsletter__inner {
	position: relative;
}

.wp-block-cata-newsletter__background {
	position: absolute;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}
