/**
 * Aside
 */

// Padding is split up so .has-background doesn't change layout.
.wp-block-cata-aside {
	padding: @wp-spacing-30;
}

.wp-block-cata-aside__inner-container {
	padding: @wp-spacing-30;

	> * + * {
		margin-block-start: @wp-spacing-50;
	}
}
