/**
 * .wp-block-button
 */

.wp-block-button {

	.wp-block-button__link {
		.button();
	}

	&.has-custom-width {

		max-width: none;

		.wp-block-button__link {
			width: 100%;
		}

		&.wp-block-button__width-25 {
			width: calc(25% - 0.5em);
		}

		&.wp-block-button__width-50 {
			width: calc(50% - 0.5em);
		}

		&.wp-block-button__width-75 {
			width: calc(75% - 0.5em)
		}

		&.wp-block-button__width-100 {
			margin-right: 0;
			width: 100%;
		}
	} 
} 


/**
 * .wp-block-buttons
 */
.wp-block-buttons {

	&.is-content-justification-left {
		.text-left();
	}

	&.is-content-justification-center {
		.text-center();
	}

	&.is-content-justification-right {
		.text-right();
	}
}
