/**
 * .wp-block-button
 */

.wp-block-button {

	.wp-block-button__link {
		.button();
		inline-size: inherit;
	}

	&.has-custom-width {

		inline-size: 100%;

		&.wp-block-button__width-25 {
			> * {
				max-inline-size: 25%;
			}
		}

		&.wp-block-button__width-50 {
			> * {
				max-inline-size: 50%;
			}
		}

		&.wp-block-button__width-75 {
			> * {
				max-inline-size: 75%;
			}
		}

		&.wp-block-button__width-100 {
			> * {
				max-inline-size: 100%;
			}
		}
	} 
} 


/**
 * .wp-block-buttons
 */
.wp-block-buttons {

	&.is-content-justification-left {
		.text-left();
	}

	&.is-content-justification-center {
		.text-center();
	}

	&.is-content-justification-right {
		.text-right();
	}
}
