/**
 * Reset
 * The stuff we always always do, but isn't in normalize.css
 */

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	// 15px + 1px where 100vw = 320px 
	font-size: calc( 0.9375em + 0.3125vw );
	min-block-size: 100%;
}

body {
	min-block-size: 100%;
	line-height: 1.5;
}

img {
	max-inline-size: 100%;
	block-size: auto;
}

figure img {
	display: block;
}

code, pre {
	font-family: Menlo, Consolas, monaco, monospace;
}

pre {
	max-inline-size: 100%;
	overflow: auto;
}

button,
input,
select,
option,
optgroup,
textarea {
	line-height: inherit;
	font-size: inherit;
	color: inherit;
	background-color: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	cursor: pointer;
	&[disabled] {
		cursor: default;
	}
}

fieldset, figure {
	margin: 0;
}

hr, p, ul, ol, blockquote, pre {
	margin-block-start: 0;
	margin-block-end: 0;
}

h1,h2,h3,h4,h5,h6 {
	line-height: calc( 1em + 0.5rem );
	margin-block-start: 0;
	margin-block-end: 0;
}

p:empty {
	margin: 0;
}

table {
	inline-size: 100%;
	border-collapse: collapse;
	th, td {
		padding: 0;
		vertical-align: top;
	}
}

small {
	font-size: @fs-sm;
}
