/**
 * Reset
 * The stuff we always always do, but isn't in normalize.css
 */

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	line-height: 1.5;
}

figure {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

img {
	max-width: 100%;
	height: auto;
}

code, pre {
	max-width: 100%;
	overflow: auto;
}

pre {
	padding-block-end: 1.5em;
}

button,
input,
select,
option,
optgroup {
	line-height: inherit;
	font-size: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	cursor: pointer;
	&[disabled] {
		cursor: default;
	}
}
