/**
 * Reset
 * The stuff we always always do, but isn't in normalize.css
 */

*,
*:after,
*:before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	line-height: 1.5;
	font-size: 100%;
	// 15px + 1px where 100vw = 320px 
	font-size: calc( 0.9375em + 0.3125vw );
}

figure {
	margin: 0;
}

img {
	max-inline-size: 100%;
	block-size: auto;
}

figure img {
	display: block;
}

code, pre {
	max-inline-size: 100%;
	overflow: auto;
}

pre {
	padding-block-end: 1.5em;
}

button,
input,
select,
option,
optgroup {
	line-height: inherit;
	font-size: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	cursor: pointer;
	&[disabled] {
		cursor: default;
	}
}

p, ul, ol, blockquote {
	margin-block-start: 0;
	margin-block-end: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}

p:empty {
	margin: 0;
}
