.preview.is-layout-trending {
	.preview__content {
		margin-block-start: @wp-spacing-20;
	}
}

.preview.is-layout-network {
	.preview__layout {
		column-gap: @wp-spacing-60;
		row-gap: @wp-spacing-40;
	}
}

.preview.is-layout-compact {
	.preview__layout {
		gap: @wp-block-gap;
	}
}
