/**
 * Grayscale
 */

@white: #FFFFFF;

@gray-lightest:	#fcfcfc;
@gray-lighter:	#f8f8f8;
@gray-light:	#dadada;

@gray-dark:		#848484;
@gray-darker:	#2b2b2b;
@gray-darkest:	#0a0a0a;

@black: #000000;

/**
 * Accent
 */

@color-accent-deemphasized: #08088A;
@color-accent:#0404B4;
@color-accent-emphasized: #0000FF;

