/**
 * WP Block Cover
 */

.wp-block-cover {

	background-size: cover;
	background-position: center center;
	color: @gray-lightest;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: @space-3;
	position: relative;

	&.has-background-dim {

		background-color: @black;

		&:before {
			content: "";
			background-color: inherit;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			inline-size: 100%;
			block-size: 100%;
			opacity: 0.50;
			z-index: 2;
		}
	}

	.wp-block-cover__inner-container {
		position: relative;
		z-index: 3;
		.stack--tight();
	}

	&.alignleft {
		max-inline-size: 50%;
	}

	&.alignright {
		max-inline-size: 50%;
	}

	.wp-block-cover__image-background {
		position: absolute;
		inline-size: 100%;
		block-size: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: 1;
	}

	&.has-background-gradient {
		.wp-block-cover__gradient-background {
			position: absolute;
			block-size: 100%;
			inline-size: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			opacity: 0.5;
		}

		&:before {
			content: none;
			display: none;
		}
	}

	&.has-background-dim {
		each( range(10), {
			&.has-background-dim-@{value}0 {
				.wp-block-cover__gradient-background {
					opacity: ( @value * 0.1 );
				}
				&:before {
					opacity: ( @value * 0.1 );
				}
			}
		} );
	}

	&.is-position-top-left {
		justify-content: flex-start;
		align-items: flex-start;
	}

	&.is-position-top-center {
		justify-content: flex-start;
	}

	&.is-position-top-right {
		justify-content: flex-start;
		align-items: flex-end;
	}

	&.is-position-center-left {
		align-items: flex-start;
	}

	&.is-position-center-right {
		align-items: flex-end;
	}

	&.is-position-bottom-left {
		justify-content: flex-end;
		align-items: flex-start;
	}

	&.is-position-bottom-center {
		justify-content: flex-end;
	}

	&.is-position-bottom-right {
		justify-content: flex-end;
		align-items: flex-end;
	}

}
