.wp-block-cata-rest__layout.is-layout-trending {
	column-gap: @wp-block-gap;
	row-gap: @wp-spacing-60;
}

.wp-block-cata-rest__list {
	column-gap: @wp-block-gap;
	line-height: @line-height-2;
	> :not(:last-child) {
		margin-block-end: @wp-block-gap;
	}
}

.wp-block-cata-rest__layout.is-layout-network {
	> * + * {
		margin-block-start: @wp-spacing-70;
	}
}

.wp-block-cata-rest__layout.is-layout-compact {
	gap: @wp-block-gap;
}
