/**
 * Root
 */

:root {

	--color-background: @gray-lightest;
	--color-background-contrast-high: @white;

	--color-text-contrast-AA: @gray-dark;
	--color-text-contrast-AAA: @gray-darker;
	--color-text: @gray-darkest;
	--color-text-contrast-high: @black;

	--color-accent-deemphasized: @color-accent-deemphasized;
	--color-accent: @color-accent;
	--color-accent-emphasized: @color-accent-emphasized;

	--color-button: @gray-darker;
	--color-button-interactive: @color-accent;

	--color-text-decoration-rgb: 0, 0, 0;

}
