/**
 * Root
 */

:root {
	// body
	--color-background: white;
	--color-text: black;
	// links
	--color-link: mediumblue;
	--color-link-visited: darkblue;
	--color-link-interaction: blue;
	// buttons
	--color-button-background: mediumblue;
	--color-button-background-interaction: blue;
	--color-button-text: black;
	--color-button-text-inverted: white;
	--color-button-text-interaction: blue;
	--color-button-text-subtle: gray;
	--color-button-shadow: rgba( 0, 0, 0, 0.5 );

}
